#app {
    color: var(--color-normal-contrast-weakest);
}

h2 {
    margin: 5px 0px 5px 0px;
    font-size: 2em;
}

a, a:visited {
   color: cadetblue;
}

a:hover {
    color: aquamarine;
}

.container {
    background-color: #333333;
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    font-size: 1.5em;
    font-family: "Noto Sans", sans-serif;
    line-height: 200%;
}

.bar {
    background-color: #000000;
    height: 3px;
    width: 100%;
}